body{font-size: 22px;
    margin-left: 10%; margin-right: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: papayawhip;
    line-height: 1.5;
    }


body
{
        background-color: red;
        color: white;
        font-size: 64px;
        text-align: center;    
        font-weight: bold;
    
}

body {
    color: white;
    background-color: black;
  }
  
  p {
    color: red;
  }